* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/*NUEVA CABECERA*/
li {
  list-style: none;
}

header {
  background: #63b1e6;
  padding: 1.5rem 0;
  width: 100%;
  box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.664);
}
header div {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div h1, header div .noticiaBuena__titulo {
  color: #267de0;
  font-size: 2.5rem;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.322);
  color: white;
}
header ul {
  display: flex;
}
header li {
  margin-left: 1rem;
}
header a {
  color: yellow;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
}

.icon {
  display: none;
}

/*BODY*/
body {
  background-color: #b1fff5;
  background-image: none;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

/*ETIQUETAS H*/
h1, .noticiaBuena__titulo {
  font-size: 64px;
  -webkit-text-stroke: 0.1px #0084ff;
  text-transform: uppercase;
  text-align: center;
  color: #63b1e6;
  font-family: "Anton", sans-serif;
  padding: 20px;
}

h2 {
  text-align: center;
  color: #4cc5d4;
  font-family: "Josefin Sans", sans-serif;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 170px;
  font-size: 32px;
  font-weight: 5px;
}
h2:hover {
  color: #09044b;
}

/*INDEX*/
/*BANER*/
.baner {
  position: relative;
  width: 80%;
  height: 500px;
  overflow: hidden;
  background: url(../animales/banerindex.jpg) no-repeat center;
  background-size: cover;
  box-shadow: 0 0 0 10px #fff, 0 0 0 11px #ccc, 0 20px 20px -12px #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  margin: auto;
  margin-top: 50px;
}
.baner .container-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
  color: #94d8ff;
  font-weight: 700;
  text-transform: uppercase;
}

.titulo-baner {
  font-size: 48px;
  letter-spacing: 0, 2em;
  color: white;
  border: 10px solid white;
  padding: 6px 14px;
  font-family: sans-serif;
}

/*SECCION FOTOS INDEX*/
.inicio, .centrarNoticia, .noticiaBuena__contenedorFoto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  align-items: center;
}
.inicio .inicio__containerindex, .centrarNoticia .inicio__containerindex, .noticiaBuena__contenedorFoto .inicio__containerindex {
  width: 500px;
  height: 300px;
  background-image: url("../imagenes/jubilado.jpg");
  background-size: cover;
  margin: 1em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 0 0 10px #fff, 0 0 0 11px #ccc, 0 20px 20px -12px #000;
}
.inicio .inicio__texto, .centrarNoticia .inicio__texto, .inicio .noticiaBuena__texto, .centrarNoticia .noticiaBuena__texto, .noticiaBuena__contenedorFoto .inicio__texto, .noticiaBuena__contenedorFoto .noticiaBuena__texto {
  font-size: 18px;
  margin: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(52, 105, 98, 0.452);
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
  position: relative;
  transition: all 0.3s;
  top: 100%;
  text-decoration: none;
}
.inicio:hover .inicio__texto .inicio, .centrarNoticia:hover .inicio__texto .inicio, .inicio:hover .inicio__texto .centrarNoticia, .centrarNoticia:hover .inicio__texto .centrarNoticia, .inicio:hover .noticiaBuena__texto .inicio, .centrarNoticia:hover .noticiaBuena__texto .inicio, .inicio:hover .noticiaBuena__texto .centrarNoticia, .centrarNoticia:hover .noticiaBuena__texto .centrarNoticia, .noticiaBuena__contenedorFoto:hover .inicio__texto .inicio, .noticiaBuena__contenedorFoto:hover .inicio__texto .centrarNoticia, .noticiaBuena__contenedorFoto:hover .noticiaBuena__texto .inicio, .noticiaBuena__contenedorFoto:hover .noticiaBuena__texto .centrarNoticia, .inicio:hover .inicio__texto .noticiaBuena__contenedorFoto, .centrarNoticia:hover .inicio__texto .noticiaBuena__contenedorFoto, .inicio:hover .noticiaBuena__texto .noticiaBuena__contenedorFoto, .centrarNoticia:hover .noticiaBuena__texto .noticiaBuena__contenedorFoto, .noticiaBuena__contenedorFoto:hover .inicio__texto .noticiaBuena__contenedorFoto, .noticiaBuena__contenedorFoto:hover .noticiaBuena__texto .noticiaBuena__contenedorFoto {
  top: 0;
}

.inicio__titulo1 {
  overflow: hidden;
  text-align: center;
  color: #94d8ff;
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 0, 2em;
  color: yellow;
  padding: 6px 14px;
  font-family: sans-serif;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 30px;
  background-color: rgba(165, 136, 42, 0.616);
  box-shadow: 0 0 0 10px yellow, 0 0 0 11px #ccc, 0 20px 20px -12px #000;
}

/*SECCION VIDEOS INDEX*/
.inicio__containervideos {
  width: 500px;
  height: 300px;
  background-image: url("../imagenes/Desocupados.jpg");
  background-size: cover;
  margin: 1em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 0 0 10px #fff, 0 0 0 11px #ccc, 0 20px 20px -12px #000;
}
.inicio__containervideos:hover .texto {
  top: 0;
}

/*SECCION NOTICIAS INDEX*/
.inicio__containernoticias {
  width: 500px;
  height: 300px;
  background-image: url("../animales/noticiasportada.jpg");
  background-size: cover;
  margin: 1em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 0 0 10px #fff, 0 0 0 11px #ccc, 0 20px 20px -12px #000;
}
.inicio__containernoticias .inicio__containernoticias:hover .texto {
  top: 0;
}

/*SECCION COLABORA INDEX*/
.inicio__containercolabora {
  width: 500px;
  height: 300px;
  background-image: url("../animales/colaboraportada.jpg");
  background-size: cover;
  margin: 1em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 0 0 10px #fff, 0 0 0 11px #ccc, 0 20px 20px -12px #000;
}
.inicio__containercolabora .inicio__containercolabora:hover .texto {
  top: 0;
}

/*MODIFICACIONES QUE HICE PORQUE BOOSTRAP LE SEGUIA DANDO SU ESTILO*/
a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #484ac0;
}

.inicio__containerindex:hover .inicio__texto, .inicio__containerindex:hover .noticiaBuena__texto {
  top: 0;
  color: white;
  font-weight: bold;
}

.inicio__containervideos:hover .inicio__texto, .inicio__containervideos:hover .noticiaBuena__texto {
  top: 0;
  color: white;
  font-weight: bold;
}

.inicio__containercolabora:hover .inicio__texto, .inicio__containercolabora:hover .noticiaBuena__texto {
  top: 0;
  color: white;
  font-weight: bold;
}

.inicio__containernoticias:hover .inicio__texto, .inicio__containernoticias:hover .noticiaBuena__texto {
  top: 0;
  color: white;
  font-weight: bold;
}

/*FOOTER*/
.pie {
  font-family: sans-serif;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  padding: 20px;
}

footer {
  margin-top: 200px;
  text-align: center;
  font-size: 2em;
  background-color: #4cc5d4;
  color: white;
}

/*FOTOS.HTML*/
.title {
  text-align: center;
  font-size: 46px;
  color: "Anton", sans-serif;
  margin-top: 100px;
  font-weight: 100;
}

.tarjeta {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
}
.tarjeta .tarjeta-nueva {
  background-color: white;
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}
.tarjeta .tarjeta-nueva p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}
.tarjeta .tarjeta-nueva h4 {
  font-weight: 600;
}
.tarjeta .tarjeta-nueva:hover {
  transform: translate(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.tarjeta .img {
  width: 330px;
  height: 220px;
}

/*VIDEOS.HTML*/
.videos {
  background-color: whitesmoke;
  width: 700px;
  height: 500px;
  border-radius: 10px;
  border: solid black;
  margin: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.videos h2 {
  color: #63b1e6;
  font-size: 40px;
  text-align: center;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.videos p {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  margin: 3px;
}
.videos iframe {
  margin-top: 5px;
  margin-bottom: auto;
}
.videos:hover {
  background-color: yellow;
}

.videosflex {
  display: flex;
}

/*FOTOS.HTML*/
.fotosok {
  background-color: whitesmoke;
  width: 700px;
  height: 500px;
  border-radius: 10px;
  border: solid black;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fotosok p {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  margin: 3px;
}
.fotosok h2 {
  text-align: center;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.fotosok img {
  border: solid black 2px;
  box-sizing: content-box;
  max-height: 50%;
}
.fotosok:hover {
  background-color: yellow;
}

.fotosok:hover h2 {
  font-size: 30px;
}

.fotosconflex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*NOTICIAS.HTML*/
.noticias {
  background-color: whitesmoke;
  width: 70%;
  height: 500px;
  border-radius: 8px;
  border: solid black;
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 0 0 10px #fff, 0 0 0 11px #ccc, 0 20px 20px -12px #000;
}
.noticias p {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  margin: 3px;
}
.noticias h2 {
  text-align: center;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.noticias img {
  width: 600px;
  height: 300px;
  margin-left: 15px;
  box-shadow: 0 0 0 10px #fff, 0 0 0 11px #ccc, 0 20px 20px -12px #000;
}
.noticias:hover {
  background-color: yellow;
}
.noticias:hover h2 {
  font-size: 30px;
}

.padrenoticia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.padrenoticia h2 {
  text-align: center;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*FORMULARIO CON BOOSTRAP*/
.container {
  background-color: rgba(151, 123, 45, 0.473);
  border-radius: 10px;
  border: solid yellow;
  padding: 15px;
}

/*Noticias buenas*/
.noticiaBuena {
  width: 70%;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px black;
  margin: 20px;
  background-color: #94d8ff;
}

.noticiaBuena__contenedorFoto {
  width: 90%;
  background-size: cover;
  margin: 1em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 0 0 10px #fff, 0 0 0 11px #ccc, 0 20px 20px -12px #000;
  margin-bottom: 45px;
}

.noticiaBuena__texto {
  background-color: rgba(151, 149, 149, 0.404);
  justify-content: center;
  margin-top: 50px;
  padding: 2em;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .contenedorrojo {
    position: fixed;
  }

  .baner {
    display: none;
  }

  nav {
    position: fixed;
    left: 0;
    top: -110%;
    width: 100%;
    height: 100vh;
    background: #877E50;
    transition: top 0.8s;
  }

  #menus:target {
    top: 0;
  }

  .icon {
    display: block;
    filter: invert(100%);
    width: 3rem;
  }

  .close {
    position: absolute;
    left: 2rem;
    top: 2rem;
  }

  ul {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  li {
    margin: 2rem 0;
  }

  a {
    font-size: 3rem;
  }

  .inicio__texto, .noticiaBuena__texto {
    font-size: 1rem;
  }

  .inicio__containerindex {
    max-width: 70%;
  }

  .inicio__containernoticias {
    max-width: 70%;
  }

  .inicio__containervideos {
    max-width: 70%;
  }

  .inicio__containercolabora {
    max-width: 70%;
  }

  .tarjeta {
    display: inline-block;
    flex-direction: column;
    align-items: center;
  }

  .videos {
    max-width: 80%;
    flex-direction: column;
    display: block;
  }
  .videos p {
    display: none;
  }

  .videosflex {
    flex-direction: column;
    justify-self: center;
  }

  .noticias {
    max-width: 70%;
    flex-direction: column;
    padding: 5px;
  }
  .noticias p {
    margin-top: 15px;
    font-size: 20px;
  }
  .noticias img {
    width: 80%;
    height: 220px;
  }
  .noticias a {
    font-size: 20px;
  }

  .noticiaBuena {
    width: 90%;
    max-width: 90%;
  }
  .noticiaBuena .noticiaBuena__titulo {
    margin-bottom: none;
  }
  .noticiaBuena .noticiaBuena__contenedorFoto--foto {
    width: 90%;
    height: 220px;
  }
  .noticiaBuena .noticiaBuena__contenedorFoto {
    box-shadow: none;
    margin: none;
  }

  h1, .noticiaBuena__titulo {
    font-size: 32px;
  }

  h2 {
    font-size: 20px;
  }
}