<!DOCTYPE html>
<html lang="es"  xmlns:th="http://www.thymeleaf.org">
 <div th:insert="fragments/head.html :: head"></div>

<body>




<header>

<div class="contenedores5">
  <a href="#menus">
  <img src="iconos/list.png" class="icon open" alt="Abrir Menu">
  </a>
  <h1> AYUDARNOS </h1>
  <div th:insert="fragments/menu.html :: navbar"></div>
</div>


</header>



<h1>NOTICIAS</h1>
       
  <section>   
          <div class="padrenoticia">
          <h2>Titulo de la noticia 1</h2>
          <div class="noticias">
            <img src="imagenes/anses.jpg" alt="Desocupados"/> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, blanditiis id fuga adipisci, consectetur consequatur corrupti nihil iste laboriosam alias officiis consequuntur molestias, soluta possimus cupiditate et vero natus dolor! <a href="Noticias/noticiabuena.html">Leer más</a> </p>
          </div>
        </section>
          
        <section>
            <div class="padrenoticia">
            <h2>Titulo de la noticia 2</h2>
            <div class="noticias">
              <img src="imagenes/jubilado.jpg" alt="Jubilado"/> 
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus eligendi vero eveniet natus, quod sequi voluptatem nisi accusamus suscipit nostrum, fugiat officia veritatis animi rem! Molestiae dignissimos enim natus est? <a href="Noticias/noticiamala.html">Leér más</a> </p>
            </div>
        </section>
  




  <footer>
    <h4 class="pie"> COPIRIGHT: LUCAS SALDAÑO 2021 </h4>
      
  </footer> 







<!--SCRIPTS-->
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

 <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
 integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
 integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
</script>

</body>



</html>